html, body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  height: 100%;
}

#garden {
  display: block;
  width: 100vw;   /* scale to device width */
  height: auto;   /* keep aspect ratio */
}

canvas {
  display: block;
}

body {
    font-family: Garamond, serif
}

